<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Student Confirm Form</h1>

<h2>The information of student: <span th:text="${student.lastName} + ' ' + ${student.firstName}"></span></h2>
<br><br>

<h2>The country: <span th:text="${student.country}"></span> </h2>

<br><br>
<h2>The Favorite Language: <span th:text="${student.favoriteLanguage}"></span></h2>

<br><br>
<h2>The Favorite System:</h2>

<ol>
    <li th:each="temp: ${student.favoriteSystem}" th:text="${temp}"></li>
</ol>
</body>
</html>